body
{
  font-size: 16px;
  display: block;
  padding:0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

*
{
  box-sizing: border-box;
}
li > a
{
  text-align: center;
  font-weight: bold;
}



/**************************/

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;

}


.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 {
  font-family: 'Comic Neue', cursive;
  color: #ffff;
  font-size: 1.9em;
  text-transform: unset;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .6;

}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { 
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  font-size: 25px;
  padding-bottom: 20px;

  border-bottom: 1px solid black;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/*Header End*/

#menu-categories-title {
  margin: 30px;
  font-size: 1.9em;
  text-align: center;
  color: green;
  font-weight: bold;
}


/*************************/
}
.row div
{
  background-color: grey;
  position: relative;
  float: left;
  margin-bottom: 30px;
  padding: 40px 20px 20px 20px;
  border:1px solid black;
}

#chicken, #beef, #sushi {
  font-family: 'Comic Neue', cursive;
  text-align: center;
  margin: 10px;

  margin-bottom: 45px;
  font-weight: bold;
  font-size: 1.7em;
  color: #9A06B8;
  background: #FFF8C3;
  padding: 20px;

}

.texte {
  font-family: cursive;
  font-size: .7em;
  color: black;
  font-weight: normal;
  text-align: left;
  margin-top: 15px;
  padding: 0 20px 20px 20px;

}

.texte-center {
  text-align: center;
}

h4 {
  text-align: left;
  padding-left: 20px;
  margin: 0;
  color: blue;
}

.col-xs-12 a
{
  color: white;
}

